# PySpark pour le data cleaning
pyspark==3.5.0

# Manipulation de données
pandas==2.1.4
numpy==1.26.2
pyarrow==14.0.1

# Machine Learning de base
scikit-learn==1.3.2
xgboost==2.0.3

# Sauvegarde et tracking des modèles
mlflow==2.9.2
joblib==1.3.2

# Visualisation
matplotlib==3.8.2
seaborn==0.13.0

# Jupyter pour travailler
jupyter==1.0.0
notebook==7.0.6
ipykernel==6.27.1

# Utilitaires
tqdm==4.66.1
python-dotenv==1.0.0