venv
__pycache__
.env
logs
data/
*.log
airflow_home/
mlruns/
ml_demo/
mlflow_data/
airflow_home/
airflow_scheduler.log
airflow_standalone.log
airflow_webserver.log
mlflow_ui.log
mlruns/
*.log
.gemini/
python_errors.log
venv/
.pytest_cache/
.DS_Store
*.pyc
*.pyo
.idea/
.vscode/
